@charset "UTF-8";

body {
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', cursive;
}

.white-text {
  color: white;
}

#landing {
  background-image: url('../images/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  padding-top: 6em;
  padding-bottom: 6em;

}

#about{
  padding-bottom: 7em;
}

#aboutImg {
  padding-top: 6em;
  padding-bottom: 6em;
}

#parents {
  border-radius: 50%;
}

#aboutPara {
  padding-top: 1em;
}

#banner2 {
  background-image: url('../images/banners/banner2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#banner2 h1 {
  padding-top: 9em;
  padding-bottom: 9em;
}

#locationImg {
  padding-top: 6em;
  padding-bottom: 6em;
}

.sm-spacing{
  padding-bottom: .5em;
}
